
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}
h1, h2 {
    color: #2c3e50;
}
.section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#file-input {
    display: none;
}
.upload-btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.upload-btn:hover {
    background-color: #2980b9;
}
#progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
#progress {
    width: 0%;
    height: 20px;
    background-color: #3498db;
    border-radius: 5px;
    transition: width 0.3s;
}
.hidden {
    display: none;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* RESULT SECTION */
.entry-id-section {
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #ddd; /* Light border */
    padding: 10px; /* Padding inside the div */
    border-radius: 5px; /* Rounded corners */
    margin: 10px 0; /* Margin around the div */
    font-family: Arial, sans-serif; /* Font style */

    display: flex;
    align-items: center; 
}

.entry-id-section p {
    margin: 0; /* Remove default margin from paragraph */
    font-size: 14px; /* Font size */
    font-weight: bold; /* Bold text */
    color: #333; /* Text color */
}

.entry-id-section #entry-id {
    border: 1px solid lightgrey; /* Blue border for entry ID */
    border-radius: 5px;
    font-weight: bold; /* Bold text for entry ID */
    color: #009900;
    padding: 5px 10px; /* Padding inside the entry ID */
}


/* COPY BUTTON */
.result-section {
    display: flex;
    /* align-items: center;  */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: auto; 
}

.copy-icon {
    width: 20px;
    margin-left: 5px; /* Space between text and icon */
    height: 20px;
}

.button-text {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    margin-right: 5px;
}

.icon-button:hover .button-text {
    opacity: 1;
}

/* TOAST */
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.toast.show {
    opacity: 1;
}
